[submodule "src/localization/ekf_localizer"]
	path = src/localization/ekf_localizer
	url = https://github.com/Chris7462/ekf_localizer.git
[submodule "src/localization/kalman_filter"]
	path = src/localization/kalman_filter
	url = https://github.com/Chris7462/kalman_filter.git
[submodule "src/localization/wheel_odom_node"]
	path = src/localization/wheel_odom_node
	url = https://github.com/Chris7462/wheel_odom_node.git
[submodule "src/perception/yolo_object_detection"]
	path = src/perception/yolo_object_detection
	url = https://github.com/Chris7462/yolo_object_detection.git
[submodule "src/utilities/kitti_launches"]
	path = src/utilities/kitti_launches
	url = https://github.com/Chris7462/kitti_launches.git
[submodule "src/utilities/kitti_to_ros2bag"]
	path = src/utilities/kitti_to_ros2bag
	url = https://github.com/Chris7462/kitti_to_ros2bag.git
[submodule "src/utilities/kitti_urdf"]
	path = src/utilities/kitti_urdf
	url = https://github.com/Chris7462/kitti_urdf.git
[submodule "src/utilities/trajectory_server"]
	path = src/utilities/trajectory_server
	url = https://github.com/Chris7462/trajectory_server.git
[submodule "src/perception/yolo_inference"]
	path = src/perception/yolo_inference
	url = https://github.com/Chris7462/yolo_inference.git
[submodule "src/localization/iekf_localizer"]
	path = src/localization/iekf_localizer
	url = https://github.com/Chris7462/iekf_localizer.git
[submodule "src/localization/local_gps_imu"]
	path = src/localization/local_gps_imu
	url = https://github.com/Chris7462/local_gps_imu.git
[submodule "src/utilities/kitti_msgs"]
	path = src/utilities/kitti_msgs
	url = https://github.com/Chris7462/kitti_msgs.git
[submodule "src/perception/fcn_segmentation"]
	path = src/perception/fcn_segmentation
	url = https://github.com/Chris7462/fcn_segmentation.git
